@font-face {
	font-family: 'Adelle Cyrillic';
    font-weight: bold;
    src: url('../../fonts/AdelleCyrillic-Bold_gdi.eot') format('embedded-opentype'),
         url('../../fonts/AdelleCyrillic-Bold_gdi.woff'),
         url('../../fonts/AdelleCyrillic-Bold_gdi.ttf'),
         url('../../fonts/AdelleCyrillic-Bold_gdi.svg');
}
@font-face {
	font-family: 'Adelle Cyrillic';
    font-weight: normal;
    src: url('../../fonts/AdelleCyrillic_gdi.eot') format('embedded-opentype'),
         url('../../fonts/AdelleCyrillic_gdi.woff'),
         url('../../fonts/AdelleCyrillic_gdi.ttf'),
         url('../../fonts/AdelleCyrillic_gdi.svg');
}
@font-face {
	font-family: 'Adelle Cyrillic';
    font-style: italic;
    src: url('../../fonts/AdelleCyrillic-Italic_gdi.eot') format('embedded-opentype'),
         url('../../fonts/AdelleCyrillic-Italic_gdi.woff'),
         url('../../fonts/AdelleCyrillic-Italic_gdi.ttf'),
         url('../../fonts/AdelleCyrillic-Italic_gdi.svg');
}
@font-face {
	font-family: 'Adelle Cyrillic';
    font-weight: 500;
    src: url('../../fonts/AdelleCyrillic-SemiBold_gdi.eot') format('embedded-opentype'),
         url('../../fonts/AdelleCyrillic-SemiBold_gdi.woff'),
         url('../../fonts/AdelleCyrillic-SemiBold_gdi.ttf'),
         url('../../fonts/AdelleCyrillic-SemiBold_gdi.svg');
}
@font-face {
    font-family: 'Adelle Cyrillic';
    font-weight: 300;
    src: url('../../fonts/Adelle Cyrillic Light.ttf');
}
@font-face {
    font-family: 'Bebas Neue';
    font-weight: bold;
    src: url('../../fonts/BebasNeue Bold.ttf');
}
@font-face {
    font-family: 'Bebas Neue';
    font-weight: normal;
    src: url('../../fonts/BebasNeue Book.ttf');
}
@font-face {
    font-family: 'Bebas Neue';
    font-weight: 300;
    src: url('../../fonts/BebasNeue Light.ttf');
}
@font-face {
    font-family: 'Helvetica Neue Cyr';
    font-weight: bold;
    src: url('../../fonts/HelveticaNeueCyr-Bold.otf');
}
@font-face {
    font-family: 'Helvetica Neue Cyr';
    font-weight: 400;
    src: url('../../fonts/HelveticaNeueCyr-Roman.otf');
}