@font-face {
    font-family: 'Bebas Neue';
    font-weight: bold;
    src: url('../../fonts/BebasNeue Bold.ttf');
    
}
@font-face {
    font-family: 'Bebas Neue';
    font-weight: normal;
    src: url('../../fonts/BebasNeue Book.ttf');  
}
@font-face {
    font-family: 'Bebas Neue';
    font-weight: 500;
    src: url('../../fonts/BebasNeue Regular.ttf');
}
@font-face {
    font-family: 'Bebas Neue';
    font-weight: 300;
    src: url('../../fonts/BebasNeue Light.ttf');
}
@font-face {
    font-family: 'Helvetica Neue Cyr';
    font-weight: bold;
    src: url('../../fonts/HelveticaNeueCyr-Bold.otf');
}
@font-face {
    font-family: 'Helvetica Neue Cyr';
    font-weight: 400;
    src: url('../../fonts/HelveticaNeueCyr-Roman.otf');
}