.category-list {
  padding: 0 5px 0 0;

  ul {
    line-height: .9;
    padding: 0;
    font-size: 14px;
    margin-bottom: 0;
    list-style: none;
  }
  li a {
    color: #000;
    display: block;
    padding: 12px 8px 8px;
    width: 100%;
    font-size: 14px;
    vertical-align: bottom;
    transition: .1s ease-in-out;

    &:focus,
    &:active,
    &:link {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
      border-color: #fff;
    }
  }

  li:nth-of-type(odd) {
    background: #f3f3f3;
  }
} /* -- /.category-list -- */


.cat-item.current-cat {

  a {
    background: red;
    color: white;
  }
}

