#certificates-carusel {
  width: 90%;
  margin: 0 auto;
  img {
    height: 180px;
    border: 4px solid #e1e1e1;
  }
  .control-img {
    height: auto;
    border: none;
  }
}
.certificates {
  margin-bottom: 30px;
}