/* ------- Fancybox -------- */
.fancybox-title-over {
  display: block;
  margin-left: 0;
  width: 100%;
  bottom: -38px;
  text-align: center;
}
#fancybox-outer {
  position: relative;
  border: 2px solid #000;
}
/* ------- /Fancybox -------- */