/*-------- header styles --------*/
.header {
  background: $main-background url('img/f-bg.jpg') center center repeat-y;
  color: #fff;
  h1 {
    padding: 14px 13px 9px;
    line-height: 1;
    margin: 18px auto 0;
    font-size: 1em;
    color: #f1d599;
    text-align: center;
    text-transform: uppercase;
    background: url('img/h-h1-bg.png') center center no-repeat;
    background-size: contain;
  }
  &__content {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid $main-color;
  }
  &__phones-block {
    p {
      line-height: 1;
      padding: 0;
      font-size: 24px;
      margin-bottom: 0;
      font-family: 'Bebas Neue' !important;
      font-weight: 300;
    }
    &__light {
      margin-left: 3px;
      font-size: 24px;
      font-family: 'Bebas Neue' !important;
      font-weight: 300;
    }
    &__indent {
      margin-right: .15em;
    }
    &__timetable {
      width: 121px;
      margin: 5px 0 5px auto;
      padding: 0;
      p {
        font-weight: bold;
        font-family: Arial, sans-serif !important;
        font-size: 11px !important;
        line-height: 1;
        color: #ebddc0;
        margin: 0 auto 0 !important;
        padding: 0;
        span {
          margin-right: .6em;
          text-align: left;
        }
      }
      img {
        margin: .5em 0 0 0;
        float: left;
      }
    }
  }
}

.logo {
  margin-top: 8px;
}

@media (max-width: $content-width) {
  header {
    background-attachment: fixed;
    padding-bottom: 20px;
    img {
      margin-right: 15px;
    }
  }
  .logo {
    margin: 15px auto;
  }
  .header__phones-block__timetable {
    margin: 20px auto;
    text-align: center;
  }
  .header__content {
    border: none;
    text-align: center;
  }
  .header__phones-block {
    text-align: center;
    margin: 15px auto;
  }
  .navbar-header {
    padding: 0;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    button {
      border: 4px solid $main-color;
      float: none;
      padding: 15px;
      margin: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      color: $main-color;
    }
  }
  .navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav {
    margin: 0;
    padding: 0 15px;
    overflow: hidden;
    width: 100%;
    text-align: left;
  }
  .menu-glavnoe-menyu-container ul, .menu-menyu-dlya-mobilnykh-container ul {
    text-align: center;
    padding-bottom: 0;
    li a:after{
      display: none;
    }
    li a {
      font-size: .8em;
    }
  }
}
@media (max-width: 728px) {
  .menu-glavnoe-menyu-container, .menu-menyu-dlya-mobilnykh-container {
    ul {
      li {
        display: block;
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 480px) {
  header {
    background-position: center 0;
    padding: 0 0 15px 0 !important;
  }
  .header__content {
    border-bottom: none;
    text-align: center;
  }
  .logo {
    margin-top: 30px;
  }
  .navbar-header {
    padding: 0;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    button {
      border: 3px solid $main-color;
      float: none;
      padding: 15px;
      margin: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      color: $main-color;
    }
  }
  .navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav {
    margin: 0;
    padding: 10px 15px;
    overflow: hidden;
    width: 100%;
  }
  .header__phones-block__timetable {
    margin: 10px auto;
    text-align: center;

  }
}
/* header */
.menu-menyu-dlya-mobilnykh-container {
  ul {
    li {
      font-size: 14px;
      padding: 0;
      width: 100%;
      display: block;
      a {
        padding: 5px 0;
      }
    }
  }
}