/*-------- Main page styles --------*/
.m-caption-wrap {
  padding: 0 !important;
}


#bannerCarousel {
  z-index: 0;
  .item {
    height: 380px;
  }
}

@media (max-width: 480px) {

  #bannerCarousel {
    .item {
      background-position: top center !important;
      background-size: 190% !important;

    }
    .carousel-caption {
      top: 88px;
      text-align: center;
      h2, h1, p {
        text-align: center;
        margin-top: 30px;
        max-width: 100%;
        display: block;
        font-size: 14px;
      }
      p {
        padding: 0;
        font-size: 15px;
        margin-top: 0;
      }
      a {
      }
    }
  }
  .carousel-control {
    display: none;
  }
  .hot-eigth {
    .carousel-caption {
      h2 {
        strong {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}
.hot-eigth {
  .carousel-caption {
    h2 {
      background: rgb(218, 47, 55);
      line-height: 1.2;
      strong {
        font-weight: bold;
      }
    }
  }
}
.carousel-caption {
  width: 100%;
  background: transparent !important;
  text-align: left;
  h2, h1 {
    font-size: 2em;
    font-weight: normal;
    display: inline-block;
    background: rgba(0,0,0,.7);
    padding: 13px 20px;
    margin-bottom: 0;
    line-height: 1;
    max-width: 60%;
    text-transform: uppercase;
    strong {
      font-weight: 500;
    }
  }
  p {
    background: #fff;
    font-size: 1.5em;
    color: #000;
    display: inline-block;
    text-shadow: none;
    max-width: 60%;
    padding: 13px 20px;
    line-height: 1;
    margin-bottom: 0;
  }
  a {
    margin-top: 15px;
    background: rgba(0,0,0,.5) url('img/main-banner-link-arrow.png') 93% center no-repeat;
    border: none;
    border-radius: 0;
    padding: 10px 30px 7px 16px;
    text-decoration: underline;
    transition: .2s .1s ease-in-out;
    &:hover, &:active, &:focus {
      text-decoration: none;
      background: rgba(0,0,0,.5) url('img/main-banner-link-arrow.png') 93% center no-repeat;
    }
  }
}
.carousel-control {
  background: transparent !important;
  .fa {
    padding-top: 186px;
  }
}


.main__faq {
  .col-md-3 {
    padding: 0;
  }
  ul {
    padding: 0 5px 0 5px;
  }
  li:first-child {
    h3 {
      padding-top: 0;
    }
  }
  h3 {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    padding: 20px 0 5px 0;
    margin: 0;

  }
}
.main__faq__person {
  img {
    width: 100%;
    margin: 0 auto;
  }
  figcaption {
    h3 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      span {
        text-transform: none;
      }
    }
    p {
      font-size: 12px;
      font-style: italic;
      text-align: center;
    }
  }
}

.carousel-inner {
  text-align: center;
}
.carousel-caption {
  position: relative;
  display: inline-block;
  top: 30px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
}
.carousel-indicators {
  bottom: 30px;
}

/* ----- */


#leadership-carusel {
  width: 90%;
  margin: 0 auto 30px;
  cursor: pointer;
  img {
    @include block-reset;

  }
  .img-circle {
    border: 3px solid rgba(0,0,0,.25);
  }
  .person-name {
    text-align: center;
    margin: 18px auto 0;
    font-size: 18px;
    padding-bottom: 10px;
    background: url('img/objects/line.png') center bottom no-repeat;
    font-weight: 500;
  }
  .person-last-name {
    font-weight: bold;
    text-transform: uppercase;
  }
  .person-description {
    text-align: center;
    padding: 15px 30px;
  }
}

.sections-style {
  margin-top: 50px;
  border-top: dotted 2px #000;
  text-align: center;
  font-size: 14px;
  .sections-h2 {
    font-size: 22px;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: -38px;
    margin-bottom: 0;
    background: #fff;
  }
  p {
    text-align: left;
  }
}
@media (max-width: 480px) {
  .sections-style {
    p {
      padding: 0 15px;
    }
    h3 {
      padding: 0 15px;
    }
  }
}
.main-leadership {
  margin-top: 0;
}

.comments {
  margin-bottom: 35px;
}
.all-comments {
  position: relative;
  a {
    position: absolute;
    font-style: italic;
    left: 70px;
    top: -18px;
    text-align: center;
    font-size: 11px;
    display: block;
    text-decoration: underline;
    padding: 10px;
    width: 102px;
    color: #6d4c07;
    font-weight: bold;
    background: #fff url('img/comments/more.png') center center no-repeat;
    &:hover {
      text-decoration: none;
    }
  }
}

.staff {
  margin-top: 0;
}