
.page_single {
  padding: 0 0 60px;

  .category-list {
    margin-top: 10px;
  }
}

.single-post {
  margin: 10px auto;

  @extend .post;

  @media screen and(max-width: 480px) {
    padding: 0 15px;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 10px;
  }
}


.single-post-img {
  clear: both;

  img {
    width: 100%;
    display: block;
  }
}

.single-post-info {
  @extend .post-body-info;

  margin: 0 auto 10px;
  width: 75%;
  float: left;

  &-item {
    @extend .post-body-info-item;
  }
}

.single-post-content {
  margin: 20px auto;

  img {
    padding: 0 5px;
    @media screen and (max-width: 480px) {
      display: block;
      max-width: 100%;
      margin: 5px auto;
    }
  }
}

.pluso-news {
  width: 25%;
  margin: 0 auto 10px;
}

