.page_team {

  h2 {
    margin: 0;
    text-align: center;
  }
}


.lidership-list {
  margin: 30px auto;
}


.chiefs-list {
  margin: 30px auto;
}


.managers-list {
  margin: 30px auto;
}


.staff-list-item {
  text-align: center;
  width: 25%;
  margin: 20px auto 50px;
  float: left;
  min-height: 200px;

  @media screen and (max-width: $content-width) {
    width: 50%;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    float: none;
    margin: 20px auto;
  }

  img {
    max-width: 100%;
    margin: 0 auto 20px;
  }

  h3 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;

    span {
      display: block;
      text-transform: uppercase;
    }
  }
}


.staff-list-item-position {
  font-size: 12px;
  margin: 10px auto 0;
  text-align: center;
}


.staff-list-item-phone {
  font-size: 14px;
  padding: 3px 8px;
  border: 1px solid $color_staff-list-phone;
  margin: 10px auto 0;
  text-align: center;
  display: inline-block;
  font-family: $font_header-phone;
}


.staff-list-item-divider {
  width: 70%;
  height: 1px;
  background: #7f7f7f;
  margin: 10px auto;
}

