
$post-info-color: #9d9d9d;
$sections-border-color: #a1a1a1;
$menu-hover: #f1d599;
$breadcrumbs-color: #9d9d9d;
$main-buttons-color: #e70710;

$content-width: 960px;
$main-color: #d6b36a;
$main-background: #1d1d1b;
$main-font: 'Adelle Cyrillic';
$main-text-color: #000;
$main-form-bg: 'img/callback-bg.jpg';

/* forms */

$file-loader-color: #d2aa57;