.container {
  @media (min-width: 1200px) {
    width: $content-width;
  }
  @media (max-width: 992px) {
    width: $content-width;
  }
  @media (max-width: $content-width) {
    width: 100%;
  }
 }
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  padding: 0;
}