.form-bottom {
  @extend %form;
  p {
    font-size: 12/16 *100%;
    text-align: center;
    margin: 0 auto;
  }
  h3 {
    font-size: 13/16 * 100%;
  }
  @media all and (max-width: $content-width) {
    width: 60%;
  }
  @media all and (max-width: $content-width/2) {
    width: 85%;
  }
}
.modal-content {
  margin-top: 30%;
  border-radius: 0;
}
.form-modal {
  @extend %form;
  border: none;
  margin-bottom: 0;
  font-family: $font-main;
  p {
    font-size: 12/16 *100%;
    text-align: center;
    margin: 0 auto;
  }

  h3 {
    font-size: 13/16 * 100%;
  }
  @media all and (max-width: $content-width) {
    width: 60%;
  }
  @media all and (max-width: $content-width/2) {
    width: 85%;
  }
}
.form-middle {
  @extend %form;
  //width: $content-width;
  border: none;
  margin: 0 auto;
  background: url("../img/form-bg.png") center top no-repeat;
  background-size: contain;
  padding-bottom: 140px;
  form {
    width: 128/960 * 100%;
    text-align: center;
    input, input[type="submit"] {
      width: 100%;
      padding: 10px 0;
    }
    input {
      padding-left: 10px;
    }
  }
  p:last-child {
    font-size: 12/16 *100%;
    text-align: center;
    width: 170/960 * 100%;
    margin: 0 auto;
  }
  @media all and (max-width: $content-width
) {
    background-size: cover;
    form {
      width: 50%;
    }
    p:last-child {
      width: 50%;
    }
  }
  @media all and (max-width: $content-width/2) {
      form {
        width: 65%;
      }
  }
}
.wpcf7 {
  &-form-control-wrap {
    display: block;
    width: 100%;
  }
  &-validation-errors {
    display: none !important;
  }
  &-mail-sent-ng {
    background-color: #ff0000;
    color: #fff;
    margin: 20px auto !important;
    width: 94%;
  }
  &-not-valid-tip {
    font-size: 11px !important;
    position: absolute;
    margin-left: 14.5%;
    top: -15px;
    background-color: #c50000;
    color: #fff !important;
    padding: 2px 5px;
  }
}